body{
    font-family: Arial;
    background:#f4f4f4;
    padding:40px;
}

h1{
    text-align:center;
}

.article{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}